{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="page-header">{{ 'project.label_project'|trans }}: {{ entity.name }}</h1>
    <ul class="nav nav-pills">
        {% if is_granted('MODIFY', entity) %}
            <li role="presentation"><a href="{{ path('oro_project_create')}}">{{ 'buttons.create'|trans }}</a></li>
            <li role="presentation"><a href="{{ path('oro_project_update', { 'id': entity.id }) }}">{{ 'buttons.edit'|trans }}</a></li>
            <li>{{ form(delete_form) }}</li>
        {% endif %}
    </ul>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>{{ 'project.fields.id'|trans }}</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'project.fields.code'|trans }}</th>
                    <td>{{ entity.code }}</td>
                </tr>
                <tr>
                    <th>{{ 'project.fields.name'|trans }}</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>{{ 'project.fields.description'|trans }}</th>
                    <td>{{ entity.description }}</td>
                </tr>
                <tr>
                    <th>{{ 'project.fields.users'|trans }}</th>
                    <td>
                        <ul>
                            {% for user in entity.users %}
                                <li>
                                    {% if is_granted('VIEW', user) %}
                                        <a href="{{ path('oro_user_view', { 'id': user.id }) }}">{{ user.username}}</a>
                                    {% else %}
                                        {{ user.username}}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a href="{{ path('oro_issue_create') }}" class="btn btn-default" role="button">{{ 'issue.create_title'|trans }}</a>
    <div class="list-group">
        <a href="#" class="list-group-item active">{{ 'project.fields.issues'|trans }}</a>
        {% for issue in entity.issues %}
            <a class="list-group-item" href="{{ path('oro_issue_view', { 'id': issue.id }) }}">{{ issue.code}}: {{ issue.summary}}</a>
        {% endfor %}
    </div>

    <ul class="record_actions list-inline">
        <li><a href="{{ path('oro_project') }}">{{ 'navigation.back_to_list'|trans }}</a></li>
    </ul>
{% endblock %}
