{% extends '::base.html.twig' %}
{% block title %}OroUserBundle:Homepage:update{% endblock %}

{% block body %}
    <h1 class="page-header">User: {{ app.user.username }}</h1>
    <div class="list-group">
        <a href="#" class="list-group-item active">My Issues</a>
        {% for issue in issues %}
            <a class="list-group-item" href="{{ path('oro_issue_view', { 'id': issue.id }) }}">{{ issue.code}}: {{ issue.summary}} ({{ issue.project }})</a>
        {% endfor %}
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item active">My Activities</a>
        {% for activity in activities %}
            <a class="list-group-item" href="{{ path('oro_issue_view', { 'id': activity.issue.id }) }}">
                ({{ activity.issue.project }}) Issue: {{ activity.issue}}
                {{ activity.code}}</a>
        {% endfor %}
    </div>
{% endblock %}
