{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="page-header">{{ 'issue.edit_title'|trans }}</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('oro_project_view', { 'id': entity.project.id })}}">{{ entity.project }}</a></li>
        <li><a href="{{ path('oro_issue_view', { 'id': entity.id }) }}">{{ entity.code }}</a></li>
    </ol>
    <ul class="nav nav-pills">
        <li>{{ form(delete_form) }}</li>
    </ul>

    {{ form_start(edit_form) }}
    {{ form_rest(edit_form) }}
    {{ form_errors(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    <ul class="record_actions list-inline">
        <li><a href="{{ path('oro_issue') }}">{{ 'navigation.back_to_list'|trans }}</a></li>
    </ul>
{% endblock %}
