{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'issue.label_issues'|trans }}</h1>
    <div class="row">
        <div class="col-md-12">

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER')%}
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'issue.all_title'|trans }}</div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'issue.fields.id'|trans }}</th>
                        <th>{{ 'issue.fields.project'|trans }}</th>
                        <th>{{ 'issue.fields.code'|trans }}</th>
                        <th>{{ 'issue.fields.summary'|trans }}</th>
                        <th>{{ 'issue.fields.type'|trans }}</th>
                        <th>{{ 'issue.fields.status'|trans }}</th>
                        <th>{{ 'issue.fields.priority'|trans }}</th>
                        <th>{{ 'issue.fields.resolution'|trans }}</th>
                        <th>{{ 'issue.fields.reporter'|trans }}</th>
                        <th>{{ 'issue.fields.assignee'|trans }}</th>
                        <th>{{ 'issue.fields.created_at'|trans }}</th>
                        <th>{{ 'issue.fields.updated_at'|trans }}</th>
                        <th>{{ 'issue.fields.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('oro_issue_view', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.project }}</td>
                            <td>{{ entity.code }}</td>
                            <td>{{ entity.summary }}</td>
                            <td>{{ entity.issueType }}</td>
                            <td>{{ entity.issueStatus }}</td>
                            <td>{{ entity.issuePriority }}</td>
                            <td>{{ entity.issueResolution }}</td>
                            <td>{{ entity.reporter }}</td>
                            <td>{{ entity.assignee }}</td>
                            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('oro_issue_view', { 'id': entity.id }) }}">{{ 'buttons.show'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('oro_issue_update', { 'id': entity.id }) }}">{{ 'buttons.edit'|trans }}</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">{{ 'issue.label_my_issues'|trans }}</div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'issue.fields.id'|trans }}</th>
                        <th>{{ 'issue.fields.project'|trans }}</th>
                        <th>{{ 'issue.fields.code'|trans }}</th>
                        <th>{{ 'issue.fields.summary'|trans }}</th>
                        <th>{{ 'issue.fields.type'|trans }}</th>
                        <th>{{ 'issue.fields.status'|trans }}</th>
                        <th>{{ 'issue.fields.priority'|trans }}</th>
                        <th>{{ 'issue.fields.resolution'|trans }}</th>
                        <th>{{ 'issue.fields.reporter'|trans }}</th>
                        <th>{{ 'issue.fields.assignee'|trans }}</th>
                        <th>{{ 'issue.fields.created_at'|trans }}</th>
                        <th>{{ 'issue.fields.updated_at'|trans }}</th>
                        <th>{{ 'issue.fields.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in user_entities %}
                        <tr>
                            <td><a href="{{ path('oro_issue_view', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.project }}</td>
                            <td>{{ entity.code }}</td>
                            <td>{{ entity.summary }}</td>
                            <td>{{ entity.issueType }}</td>
                            <td>{{ entity.issueStatus }}</td>
                            <td>{{ entity.issuePriority }}</td>
                            <td>{{ entity.issueResolution }}</td>
                            <td>{{ entity.reporter }}</td>
                            <td>{{ entity.assignee }}</td>
                            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('oro_issue_view', { 'id': entity.id }) }}">{{ 'buttons.show'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('oro_issue_update', { 'id': entity.id }) }}">{{ 'buttons.edit'|trans }}</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{{ path('oro_issue_create') }}" class="btn btn-info btn-s" role="button">
                {{ 'buttons.create'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
