{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="page-header">{{ 'issue.create_title'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <ul class="record_actions list-inline">
        <li><a href="{{ path('oro_issue') }}">{{ 'navigation.back_to_list'|trans }}</a></li>
    </ul>
{% endblock %}
