{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="page-header">{{ 'issue.issue_title'|trans }}</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('oro_project_view', { 'id': entity.project.id })}}">{{ entity.project }}</a></li>
        {% if entity.parent %}
            <li>{{ 'issue.label_parent'|trans }} <a href="{{ path('oro_issue_view', { 'id': entity.parent.id })}}"> {{ entity.parent.code }}</a></li>
        {% endif %}
        <li>{{ entity.code }}</li>
    </ol>
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ path('oro_issue_create')}}">{{ 'buttons.create'|trans }}</a></li>
        <li role="presentation"><a href="{{ path('oro_issue_update', { 'id': entity.id }) }}">{{ 'buttons.edit'|trans }}</a></li>
        <li>{{ form(delete_form) }}</li>
    </ul>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>{{ 'issue.fields.id'|trans }}</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'issue.fields.code'|trans }}</th>
                    <td>{{ entity.code }}</td>
                </tr>
                <tr>
                    <th>{{ 'issue.fields.summary'|trans }}</th>
                    <td>{{ entity.summary }}</td>
                </tr>
                <tr>
                    <th>{{ 'issue.fields.status'|trans }}</th>
                    <td>{{ entity.issueStatus }}</td>
                </tr>
                <tr>
                    <th>{{ 'issue.fields.resolution'|trans }}</th>
                    <td>{{ entity.issueResolution }}</td>
                </tr>
                <tr>
                    <th>{{ 'issue.fields.description'|trans }}</th>
                    <td>{{ entity.description }}</td>
                </tr>
                <tr>
                    <th>{{ 'issue.fields.reporter'|trans }}</th>
                    <td>{{ entity.reporter }}</td>
                </tr>
                <tr>
                    <th>{{ 'issue.fields.assignee'|trans }}</th>
                    <td>{{ entity.assignee }}</td>
                </tr>
                <tr>
                    <th>{{ 'issue.fields.collaborators'|trans }}</th>
                    <td>
                        <ul>
                            {% for user in entity.collaborators %}
                                <li><a href="{{ path('oro_user_view', { 'id': user.id }) }}">{{ user.username}}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>{{ 'issue.fields.created_at'|trans }}</th>
                    <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>{{ 'issue.fields.updated_at'|trans }}</th>
                    <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
                </tr>
                </tbody>
            </table>

            {% if entity.hasChildren %}
                <div class="list-group">
                    <a href="#" class="list-group-item disabled">{{ 'issue.label_subtasks'|trans }}</a>
                    {% for subtask in entity.children %}
                        <a class="list-group-item" href="{{ path('oro_issue_view', { 'id': subtask.id }) }}">{{ subtask.code}}</a>
                    {% endfor %}
                </div>
            {% endif %}

            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#comments" data-toggle="tab">{{ 'issue.comment.label_comments'|trans }}</a></li>
                <li><a href="#activity" data-toggle="tab">{{ 'issue.activity.label_activity'|trans }}</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active" id="comments">
                    {% include 'OroIssueBundle:Comment:index.html.twig' with { 'comments': entity.comments } %}
                    {{ render(controller('OroIssueBundle:Comment:create', {'issueId' : entity.id})) }}
                </div>
                <div class="tab-pane" id="activity">
                    {{ render(controller('OroIssueBundle:Activity:index', {'issueId' : entity.id })) }}
                </div>
            </div>

        </div>
    </div>
    <ul class="record_actions list-inline">
        <li><a href="{{ path('oro_issue') }}">{{ 'navigation.back_to_list'|trans }}</a></li>
    </ul>
{% endblock %}
