<ul class="list-group">
    {% for comment in entity.comments %}
        <li class="list-group-item">
            <span class="glyphicon glyphicon-comment"></span>
            {{ 'issue.comment.posted_by'|trans }}
            <a href="{{ path('oro_user_view', { 'id': comment.user.id }) }}">{{ comment.user}}</a>
            at {% if comment.createdAt %}{{ comment.createdAt|date('Y-m-d H:i:s') }}{% endif %}
            <div class="pull-right">
                {% if is_granted('EDIT', comment) %}
                    <a class="comment_edit" href="{{ path('oro_comment_update', { 'id': comment.id }) }}">{{ 'buttons.edit_comment'|trans }}</a>
                {% endif %}
                {% if is_granted('DELETE', comment) %}
                    | <a href="{{ path('oro_comment_delete', { 'id': comment.id }) }}">{{ 'buttons.delete'|trans }}</a>
                {% endif %}
            </div>
            <p>{{ comment.content }}</p>
        </li>
    {% endfor %}
</ul>
