<ul class="list-group">
    {% for comment in entity.comments %}
        <li class="list-group-item">
            <span class="glyphicon glyphicon-comment"></span>
            Posted by
            <a href="{{ path('oro_user_view', { 'id': comment.user.id }) }}">{{ comment.user}}</a>
            at {% if comment.createdAt %}{{ comment.createdAt|date('Y-m-d H:i:s') }}{% endif %}
            <div class="pull-right">
                <a href="{{ path('oro_comment_update', { 'id': comment.id }) }}">edit</a>
                {% if is_granted('ROLE_ADMIN') %}
                    | <a href="{{ path('oro_comment_delete', { 'id': comment.id }) }}">delete</a>
                {% endif %}
            </div>
            <p>{{ comment.content }}</p>
        </li>
    {% endfor %}
</ul>
