{% extends '::base.html.twig' %}

{% block title %}OroUserBundle:User:index{% endblock %}

{% block body %}
    <h1 class="page-header">Welcome to the User:index page</h1>
     <ul class="nav nav-pills">
        <li><a href="{{ path('oro_user_create') }}">Create New User</a></li>
    </ul>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Role</th>
                    <th>Avatar</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.fullname }}</td>
                        <td>{{ user.role }}</td>
                        <td>
                            <img height="50" width="50" src="{{ asset(user.getAvatarImagePath) }}" />
                        </td>
                        <td>
                            <a href="{{ path('oro_user_view', { 'id': user.id }) }}" class="btn btn-info btn-xs" role="button" >View</a>
                            <a href="{{ path('oro_user_update', { 'id': user.id }) }}" class="btn btn-info btn-xs" role="button" >Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
