{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}OroUserBundle:User:update{% endblock %}

{% block body %}
<h1>Welcome to the User:update page</h1>
    {% for error in errors %}
        <li>{{ error.message }}</li>
    {% endfor %}
<div class="control-group">
    {{ form_start(form, {'attr': {'class': 'my-form-class'} }) }}
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}
