{% extends '::base.html.twig' %}
{% block title %}OroUserBundle:User:view{% endblock %}
{% block body %}
<section class="section">
    <h1>Welcome to the User:view page</h1>
    <p><a href="{{ path('oro_user_update', {'id': user.id}) }}">Edit</a>|
        <a href="{{ path('oro_user_user_index') }}">All Users</a>
    </p>

<div class="container">
    <h2>{{ user.fullname }}</h2>
    <p>Email: {{ user.email }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Role: {{ user.role }}</p>
    <p>Avatar: {{ user.avatarPath }} </p>
    <div class="illustration">
        <img height="150" width="150" src="{{ asset(user.getAvatarImagePath(150)) }}" />
    </div>
</div>
</section>
{% endblock %}
