{% extends '::base.html.twig' %}
{% block title %}OroUserBundle:User:view{% endblock %}
{% block body %}
    <h1 class="page-header">Welcome to the User:view page</h1>
    <ul class="nav nav-pills">
        <li><a href="{{ path('oro_user_update', {'id': user.id}) }}">Edit</a></li>
    </ul>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">{{ user.fullname }}</div>
        <div class="panel-body">
            <p>Email: {{ user.email }}</p>
            <p>Username: {{ user.username }}</p>
            <p>Role: {{ user.role }}</p>
            <p>Avatar: {{ user.avatarPath }} </p>
            <div class="illustration">
                <img height="150" width="150" src="{{ asset(user.getAvatarImagePath(150)) }}" />
            </div>
        </div>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active">Projects</a>
        {% for project in user.projects %}
            <a class="list-group-item" href="{{ path('oro_project_view', { 'id': project.id }) }}">{{ project.code}}: {{ project.name}}</a>
        {% endfor %}
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item active">Issues</a>
        {% for issue in issues %}
            <a class="list-group-item" href="{{ path('oro_issue_view', { 'id': issue.id }) }}">{{ issue.code}}: {{ issue.summary}}</a>
        {% endfor %}
    </div>

    <ul class="record_actions list-inline">
        <li><a href="{{ path('oro_user_index') }}">Back to the list</a></li>
    </ul>
{% endblock %}
