{% extends '::base.html.twig' %}
{% block title %}OroUserBundle:User:view{% endblock %}
{% block body %}
    <h1 class="page-header">Welcome to the User:view page</h1>
    <ul class="nav nav-pills">
        <li><a href="{{ path('oro_user_update', {'id': user.id}) }}">Edit</a></li>
    </ul>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">{{ user.fullname }}</div>
        <div class="panel-body">
            <p>Email: {{ user.email }}</p>
            <p>Username: {{ user.username }}</p>
            <p>Role: {{ user.role }}</p>
            <p>Avatar: {{ user.avatarPath }} </p>
            <div class="illustration">
                <img height="150" width="150" src="{{ asset(user.getAvatarImagePath(150)) }}" />
            </div>
        </div>
    </div>
    <ul class="record_actions list-inline">
        <li><a href="{{ path('oro_user_index') }}">Back to the list</a></li>
    </ul>
{% endblock %}
